/**
 * Copyright 2023 Evan Earhart, Logan Smith [, insert other contributor names here]
 * 
 * CSS styling for './hangman.html'.
 */

body{
	background-color: mediumturquoise;
}

.title{
	font-size: 24px;
	text-align: center;
}

main{
	display: flex;
}


.board {
	margin: auto;
	font-family: Courier New, Courier, monospace;
	
}

.openSpace {
	width: 50px;
	height: 50px;
	margin: 0px;
	color: rgba(0,0,0,0);
	font-size: 16px;
	text-align: center;
	clear: both;
}

/**
 * Spaces A1-A10
 */

#space1A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9A {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10A {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces B1-B10
 */

#space1B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9B {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10B {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces C1-C10
 */

#space1C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9C {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10C {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces D1-D10
 */

#space1D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9D {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10D {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces E1-E10
 */

#space1E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9E {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10E {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces F1-F10
 */

#space1F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9F {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10F {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces G1-G10
 */

#space1G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9G {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10G {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces H1-H10
 */

#space1H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9H {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10H {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces I1-I10
 */

#space1I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space2I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space3I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space4I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space5I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space6I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space7I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space8I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space9I {
	border: solid black;
	border-width: 2px 0px 0px 2px;
}

#space10I {
	border: solid black;
	border-width: 2px 2px 0px 2px;
}

/**
 * Spaces J1-J10
 */

#space1J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space2J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space3J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space4J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space5J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space6J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space7J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space8J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space9J {
	border: solid black;
	border-width: 2px 0px 2px 2px;
}

#space10J {
	border: solid black;
	border-width: 2px;
}


