/**
 * Copyright 2023 Evan Earhart [, insert other contributor names here]
 * 
 * CSS styling for './hangman.html'.
 */

body{
	background-color: lightcoral;
}

.title{
	font-size: 24px;
	text-align: center;
}

main{
	display: flex;
}

.leftSide{
	width: 50%;
	height: 100%;
	float: left;

	border: 3px solid black;
	padding: 10px;
	margin: 10px;

	display: justify;
}

.rightSide{
	width: 50%;
	height: 100%;
	float: left;
	
	border: 3px solid black;
	padding: 10px;
	margin: 10px;
}

.letterButton {
	width: 24px;
	height: 24px;
	border: 1px solid black;
	
	font-size: 16px;
	text-align: center;
	float: left;
}
